grant codebase "file://${user.dir}/OtherPermJar/MatchaC.jar" {
    permission com.matcha.security.context.perm.MatchaPermission "matchaName1", "read";
};

grant codebase "file://${user.dir}/OtherPermJar/MatchaD.jar"
    principal com.matcha.security.context.login.MatchaPrincipal "administrator"{
    permission com.matcha.security.context.perm.MatchaPermission "matchaName2", "read, write";
};

grant codebase "file://${user.dir}/OtherPermJar/MatchaD.jar"
    principal com.matcha.security.context.login.MatchaPrincipal "user" {
    permission com.matcha.security.context.perm.MatchaPermission "matchaName2", "read";
};

grant {
    permission java.io.FilePermission "/*", "read, write";
    permission java.io.FilePermission "resource/*", "read, write, delete";

    permission java.security.SecurityPermission "insertProvider";
    permission java.security.SecurityPermission "insertProvider.BC";
    permission java.security.SecurityPermission "putProviderProperty.BC";

    permission java.util.PropertyPermission "java.security.auth.login.config", "write";

    permission javax.security.auth.AuthPermission "createLoginContext.Matcha";
    permission javax.security.auth.AuthPermission "modifyPrincipals";
    permission javax.security.auth.AuthPermission "doAs";
    permission javax.security.auth.AuthPermission "doAsPrivileged";

    permission java.lang.RuntimePermission "modifyThread";
    permission java.lang.RuntimePermission "modifyThreadGroup";

    permission java.lang.RuntimePermission "exitVM";
};